doctype html
html 
	head
		title Can you solve this puzzle
		link(rel='stylesheet', href='css/style.css')
		script(src='js/sketch.js')
		script(src='js/cell.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.9/p5.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.9/addons/p5.dom.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.9/addons/p5.sound.min.js")
	body
		.topcontainer
			h1 Can you solve this puzzle?
		.middlecontainer
			p Welcome to the first Freetail Hackers puzzle! Try to get all of the tiles to be shaded in. Each time you click a tile, each tile above, below, and to the right and left invert their colors. These don't wrap around! Good luck! You can solve this by hand, but kudos if you can do it with a BFS! 
	footer
		p Made with ❤ in Austin.

