<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.9/p5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.9/addons/p5.dom.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.9/addons/p5.sound.min.js"></script>
	<script type="text/javascript" src="sketch.js"></script>
    <script type="text/javascript" src="cell.js"></script>
    <title>Solve the following ppppuzzle</title>
</head>
<body>
	<div class="topcontainer">
		<h1> Can you solve this ppppuzzle?</h1>
	</div>
	<div class="middlecontainer">
		<input id="clickMe" type="button" value="Start!" onclick="gameStart();" />
		<p>sttuff</p>

	</div>
</body>
<footer>
	<p>Made with ❤ in Austin.</p>
</footer>
</html>